body {
    background-color: antiquewhite;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.recipe {
    font-size: 23px;
    color: firebrick;
    font-family: 'Courier New', Courier, monospace;
}

.homepage-header {
    color: rgb(50, 135, 177);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.header {
    text-align: center;
    color: rgb(32, 102, 108);
}
