body {
    background-color: antiquewhite;

}

.recipe {
    font-size: 23px;
    color: firebrick;
    font-family: 'Courier New', Courier, monospace;
}

.homepage-header {
    color: rgb(50, 135, 177);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.header {
    text-align: center;
    color: rgb(26, 100, 26);
}
